/**
*
*==========================================================================
*  styles.css -- Global styles for the MyRWD website
*========================================================================== 
*
*Created November 19, 2014
*
*Authored by Gregg Pizzi
*
*/


/* ----- Basic styling -----*/
body {
  background-color: lightblue;
}

#page-wrapper{
  background-color: white;
  width: 768px;
  margin: auto;
}

#content{
  background-color: #f7f2da;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 10px;
}

nav{
  background-color: gray;
  margin: 0;
  padding: 0;
}

nav ul {
  padding-top: 3px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-left: 10px;
  list-style-type: none;
}

/* ----- Nav Bar ----- */

nav ul li {
  display: inline-block;
}